.cart-section {
  width: 100%;
  text-align: -webkit-center;
  font-family: cursive;
}

.cart-card {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  max-width: 30%;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}

.cart-image {
  width: 100px;
  height: 100px;
}

.cart-name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  width: 100px;
  text-align: initial;
}

.cart-quantity {
  align-self: center;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  text-align: initial;
}

.cart-quantity-button {
  display: flex;
  place-content: space-between;
}

.cart-buttons>.product-button {
  background: crimson !important;
  border: none;
  padding: 0;
}

.cart-quantity-button>button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  padding: 1px;
  border: none;

}